* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2, h3 {
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 40px 0;
}

#historia {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#cortes {
    background-color: #eaeaea;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.corte {
    margin-bottom: 30px;
}
