@model SistemaBarbearia.Models.Agenda

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Agenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="barbeiroID" class="control-label"></label>
                <select asp-for="barbeiroID" class ="form-control" asp-items="ViewBag.barbeiroID"></select>
            </div>
            <div class="form-group">
                <label asp-for="cliente.nome" class="control-label"></label>
                <input asp-for="cliente.nome" type="text" acceptclass="form-control" />
                <span asp-validation-for="cliente.nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cliente.cpf" class="control-label"></label>
                <input asp-for="cliente.cpf" type="text" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" class="form-control" />
                <span asp-validation-for="cliente.cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cliente.telefone" class="control-label"></label>
                <input asp-for="cliente.telefone" class="form-control" />
                <span asp-validation-for="cliente.telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horarioId" class="control-label"></label>
                <select asp-for="horarioId" class ="form-control" asp-items="ViewBag.horarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="diaAgendado" class="control-label"></label>
                <input asp-for="diaAgendado" type="date" class="form-control" />
                <span asp-validation-for="diaAgendado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trabalhoStatus" class="control-label"></label>
                <select asp-for="trabalhoStatus" class="form-control" asp-items="ViewBag.sTrabalho"></select>
                <span asp-validation-for="trabalhoStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="servicosAgendas" class="control-label"></label>
                <select asp-for="servicosAgendas" class="form-control" asp-items="ViewBag.Servicos"></select>
                <span asp-validation-for="servicosAgendas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor_total" class="control-label"></label>
                <input asp-for="valor_total" class="form-control" />
                <span asp-validation-for="valor_total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tempo_total" class="control-label"></label>
                <input asp-for="tempo_total" class="form-control" />
                <span asp-validation-for="tempo_total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
